/* リセットCSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:65%;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ==================
共通設定
===================*/
body {
  font-family: 'Noto Serif JP', serif;
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 5rem 10% 10rem;
}

.heading {
  font-size: 3rem;
  padding: 2rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  color: #F5AC00;
}
.heading span {
  font-size: 1.5rem;
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* ==================
sec01
===================*/
.header {
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
}


.header .navbar ul li {
  position: relative;
  float: left;
}
.header .navbar ul li a {
  display: block;
  font-size: 1.2rem;
  padding: 1.2rem;
  color: #242424;
}

.header .navbar ul li a:hover {
  /* background: #fff; */
  background: #F5AC00;
  color: #fff;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: #F5AC00;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
  border-top: .1rem solid #ddd;
}

.header .navbar ul li:hover > ul {
  display: initial;
}

/* ==================
key-visual
===================*/

.key-visual {
  position: relative;
}

.key-visual .key-area {
  margin-top: 3rem;
  height: 450px;
  width: 100%;
  background: #ff9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.key-visual h2 {
  font-size: 2.5rem;
  line-height: 2.5;
  color: #F5AC00;
}

.key-visual .btn {
  font-size: 1.2rem;
  color: #fff;
  padding: 1.5rem 5rem;
  background: #F5AC00;
}
.key-visual .btn:hover {
  background: #fff;
  color: #F5AC00;
}


.key-body ul {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

.key-visual .key-body {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}
.key-visual .key-body img {
  vertical-align: bottom;
}

/* ==================
sec01
===================*/

.sec01 .container {
  width: 980px;
  margin: auto;
}

.sec01 .staff ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  list-style: none;
}

.sec01 .staff img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

/* ==================
sec02
===================*/

.sec02 .container {
  width: 980px;
  margin: auto;
}



.sec02 .project-area ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  list-style: none;
}

.sec02 i {
  margin-left: 2rem;
}
.sec02 .btn {
  margin-top: 5rem;
  display: inline-block;
  padding: 1rem 5rem;
  font-size: 1.2rem;
  border: .1rem solid #F5AC00;;
  color: #fff;
  background: #F5AC00;
}

.sec02 .btn:hover {
  color: #F5AC00;
  background: #fff;
}

.sec02 .project-area img {
  width: 300px;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}


/* ==================
sec03
===================*/
.sec03 {
  /* background: blue; */
  background: #ff9;
  background: #FEC804;
}


.sec03 .service-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.sec03 .container {
  width: 980px;
  margin: auto;
}

.sec03 .service-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: .1rem solid #fff;
  padding: 1.2rem 1.2rem 0;
}
.sec03 .service-box p {
  font-size: 1.2rem;
  line-height: 2;
}

.sec03 .service-box i {
  display: block;
  font-size: 3rem;
}

.sec03 .service-box a {
  color: #fff;
  display: block;
  font-size: 1.2rem;
  line-height: 2;
  border-top: .1rem solid #fff;
}

.sec03 .service-box a:hover {
  color: #F5AC00;
  background: #fff;
}

/* ==================
sec04
===================*/

.sec04 .container {
  width: 1180px;
  margin: auto;
}

.sec04 .info-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec04 .info-box {
  background-image: url(../img/DM_20230713111120_004.JPEG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
  width: 400px;
  position: relative;
}

.sec04 .info-img {
  display: flex;
  align-items: center;
  padding: .5rem;
  /* background: rgba(0, 0, 0, .2); */
  width: 400px;
  position: absolute;
}
.sec04 .info-img .info-img-text a {
  font-size: 1.5rem;
  color: #F5AC00;
  background: #fff;
  margin-left: 1rem;
  padding: .2rem;
}

.sec04 .info-box .info {
  display: flex;
  position: absolute;
  bottom: 10px;
  padding: 0 .5rem;
  align-items: center;
}

.sec04 .info-box .info .info-btn {
  color: #F5AC00;
  border: 1px solid #fff;
  font-size: 1.1rem;
  line-height: 1.5;
  background: #fff;
  padding: .2rem;
}
.sec04 .info-box .info .contact {
  margin-left: 150px;
}


.sec04 .info-box .info-img img {
  width: 54px;
}

.sec04 .info-box img {
  width: 350px;
}

.sec04 .info-item {
  display: flex;
  gap: 3rem;
}

.sec04 .info-item img {
  width: 210px;
}


/* ==================
footer
===================*/
.footer {
  padding: 2rem;
  background: #F4A682;
}

.footer .container {
  width: 1180px;
  margin: auto;
}


.footer .footer-area {
  display: flex;
  justify-content: space-between;
}

.footer .footernav ul {
  list-style: none;
}


.footer .footernav a {
  font-size: 1.2rem;
  line-height: 2;
  color: #242424;
  display: block;
}

.footer .footernav a:hover {
  color: #fff;
}


.footer .footer-area .company {
  display: flex;
}

.footer .footer-area .company ul {
  list-style: none;
}

.footer .company h3 {
  font-size: 1.2rem;
  line-height: 2;
  color: #242424;
  margin-right: 2rem;
}

.footer .company a {
  font-size: 1.2rem;
  line-height: 2;
  color: #242424;
}

.footer .company a:hover {
  color: #fff;
}

.footer .footer-copy img {
  width: 50px;
}

.footer .footer-copy {
  padding: 1.2rem;
  text-align: center;
}

.footer .footer-copy p {
  margin-bottom: .5rem;
  margin-top: 1.2rem;
}

/* ==================

===================*/

/* ==================

===================*/

/* ==================

===================*/